COMPOSE_PROJECT_NAME=hypersearch
HYPERSEARCH_BIND_HOST=127.0.0.1
HYPERSEARCH_HTTP_PORT=8090
HYPERSEARCH_LMSTUDIO_BASE_URL=http://host.docker.internal:1234
HYPERSEARCH_API_IMAGE=ghcr.io/nacsez/hypersearch-api:1.0.0
HYPERSEARCH_UI_IMAGE=ghcr.io/nacsez/hypersearch-ui:1.0.0
HYPERSEARCH_SEARXNG_IMAGE=searxng/searxng:latest
HYPERSEARCH_IMAGE_SOURCE=online
HYPERSEARCH_PRIMARY_REGISTRY=ghcr.io/nacsez
HYPERSEARCH_FALLBACK_REGISTRY=docker.io/nacsez
